{% extends 'dash.html'  %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complaint List</title>
    <style>
        .container
        {
        border:solid;
        padding:20px;
        margin-top:50px;
        }


    </style>
</head>
<body>

<div class="container">
    <h2 align="center">Complaint List</h2>
    <br>
    <table class="table">
  <thead>
    <tr>
       <th scope="col"></th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
         <th scope="col">Email</th>
         <th scope="col">Phone Number</th>
           <th scope="col">Complaint Type</th>
          <th scope="col">Complaint Description</th>
         <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for row in value %}
    <tr>
      <form action="{{ url_for('update_complaint') }}" method="POST">

        <th scope="row"></th>
          <input type="hidden" name="co_id" value="{{ row[0] }}">
      <td><input type="text" name="cfirst_fnm" value="{{ row[1] }}" class="form-control" placeholder="Enter First Name"> </td>
        <td><input type="text" name="clast_lnm" value="{{ row[2] }}" class="form-control" placeholder="Enter Last Name"> </td>
        <td><input type="email" name="c_email" value="{{ row[3] }}" class="form-control" placeholder="Enter Email"> </td>
       <td><input type="number" name="c_num" value="{{ row[4] }}" class="form-control" placeholder="Enter Number"> </td>
           <td><input type="text" name="c_type" value="{{ row[5] }}" class="form-control" placeholder="Enter Type"> </td>
           <td><input type="text" name="c_descp" value="{{ row[6] }}" class="form-control" placeholder="Enter Description"> </td>
          <td><input type="submit" name="" class="btn btn-success" value="Update"></td>
      </form>


        <form action="{{ url_for('delete_complaint') }}" method="POST">
        <input type="hidden" name="co_id" value="{{ row[0] }}">
        <td><input type="submit" name="" class="btn btn-danger" value="Delete"></td>
            </form>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

</body>
</html>
{% endblock %}



